---
import Layout from "../layouts/Layout.astro";

const pageTitle = "我的 Astro 学习博客";
const allPosts = await Astro.glob("./posts/*.md");
---

<Layout title={pageTitle}>
  <h1>我的 Astro 学习博客</h1>
  <p>这是我的 Astro 学习笔记</p>
  <ul>
    {
      allPosts.map((post) => (
        <li>
          <a href={post.url}>{post.frontmatter.title}</a>
        </li>
      ))
    }
  </ul>
</Layout>
